<div class="w3-row">
  tacos are the best
  {{#each posts}}
    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
          <h3>{{title}}</h3>
          <div>{{body}}</div>
        </div>
      </div>
    </div>
  {{/each}}
</div>